input.signup-input {
  border-radius: 0;
}
input.signup-input:focus {
  box-shadow: none;
}
input.signup-input:valid,
input.signup-input:invalid {
  background-position: 85% 60% !important;
}
button.next-btn {
  float: right;
  width: 48%;
  margin: 2px;
  background-color: rgb(251, 100, 27);
  border-radius: 0;
  border: none;
}
button.prev-btn {
  width: 48%;
  margin: 2px;
  background-color: rgb(251, 100, 27);
  border-radius: 0;
  border: none;
}
button.next-btn:hover,
button.prev-btn:hover {
  opacity: 0.9;
  background-color: rgb(251, 100, 27);
}
button.next-btn:focus,
button.prev-btn:focus {
  box-shadow: none;
  background-color: rgb(251, 100, 27);
}
