img.carousel-img {
  height: 250px;
}
ol.carousel-indicators {
  display: none;
}
span.carousel-control-prev-icon {
  position: absolute;
  left: 0;
  background-color: #000000;
  background-size: contain;
  padding: 50px 15px;
  border-radius: 0 5px 5px 0;
}
span.carousel-control-next-icon {
  position: absolute;
  right: 0;
  background-color: #000000;
  background-size: contain;
  padding: 50px 15px;
  border-radius: 5px 0 0 5px;
}
